* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  z-index: -1;
  background: url("clouds.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.header {
  text-align: center;
  margin-left: 12%;
  border-bottom: rgb(226, 223, 36) solid;
}
.form-group {
  position: relative;
  left: 30vw;
  top: 35vh;
}
input[type="submit"] {
  margin-left: 20%;
  margin-top: 10%;
  box-shadow: 5px 4px 10px rgb(46, 46, 46);
}
input {
  text-align: center;
}
::placeholder {
  text-align: center;
  font-style: oblique;
  font-size: 12px;
}
.results {
  color: yellow;
  line-height: 5px;
  margin-left: 30%;
}
.link {
  position: absolute;
  bottom: 2vh;
  color: black;
}

/* For Tablets: */
@media only screen and (min-width: 600px) {
  .header {
    margin-left: 3vw;
  }
  .form-group {
    position: relative;
    left: 30vw;
    top: 50vh;
  }
  input[type="submit"] {
    margin-left: 40%;
  }
  .link {
    right: 39%;
  }
  .results {
    color: yellow;
    font-size: 20pt;
    line-height: 2vh;
    margin-left: 38%;
  }
}
